<p id="notice"><%= notice %></p>

<h1>Post Title</h1>
<p>Post Body</p>

<% @posts.each do |post| %>
  <article>
    <div>
      <h1>Post Title</h1>
      <p>Post Body</p>
    </div>
  
    <nav>
      <div>
        <%= link_to post do %>
          <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to edit_post_path(post) do %>
          <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
        <% end %>
      </div>
    </nav>
  </article>
<% end %>