
<% @posts.each do |post| %>
  <div>
    <% if member_signed_in? %>
      <% if post.member %>
        <h3><%= post.member.name %></h3>
      <% end %>
    <%end%>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
  </div>
<% end %>